iBench scenarios/_0 to 60_percent_INDS/0 percent INDS/scenario_mixed_0_inds/S_CP_AD_DL_ADL_4_0_1_0_1_0_2_3_1_0_100_0_0_0_1_0_1_0_0_0_0_1_0_0_0_2_Src.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="S_CP_AD_DL_ADL_4_0_1_0_1_0_2_3_1_0_100_0_0_0_1_0_1_0_0_0_0_1_0_0_0_2_Src">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="nut_cp_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="art_cp_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slope_cp_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="measure_cp_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_cp_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cheese_cp_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_cp_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="compare_cp_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_cp_1_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="demand_cp_1_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="great_ad_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="board_ad_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_ad_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_ad_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="warn_ad_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_ad_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="red_ad_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="wrong_ad_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="past_dl_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="wheel_dl_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="letter_dl_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="blue_dl_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="describe_dl_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="report_dl_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="night_dl_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="find_dl_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="attention_dl_1_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="discover_dl_1_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_dl_1_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="reveal_dl_1_nl0_ae10" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_dl_1_nl0_ae11" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="narrow_adl_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="rest_adl_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="expansion_adl_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pipe_adl_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="indicate_adl_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thank_adl_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stick_adl_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="order_adl_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="twist_adl_1_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="account_adl_1_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="future_adl_1_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="chin_cp_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="mixed_cp_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="small_cp_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="broken_cp_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brain_cp_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_cp_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="swim_cp_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_cp_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="approval_cp_2_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="blow_cp_2_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="division_ad_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ready_ad_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gun_ad_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_ad_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="powder_ad_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="work_ad_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="discuss_ad_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_ad_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="use_dl_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="paint_dl_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="draw_dl_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="send_dl_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_dl_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="knee_dl_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="leave_dl_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="parallel_dl_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_dl_2_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="handle_dl_2_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="library_dl_2_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="die_dl_2_nl0_ae10" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_dl_2_nl0_ae11" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="brown_adl_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="hit_adl_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="decision_adl_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_adl_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="garden_adl_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="necessary_adl_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="organization_adl_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stick_adl_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="effect_adl_2_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slow_adl_2_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="word_adl_2_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="kind_cp_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prove_cp_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ring_cp_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="early_cp_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="violent_cp_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chalk_cp_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_cp_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="love_cp_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_cp_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="door_cp_3_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="charge_ad_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="certain_ad_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_ad_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bent_ad_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sweet_ad_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rod_ad_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="silk_ad_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="crush_ad_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="treat_dl_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="farm_dl_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="language_dl_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_dl_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chalk_dl_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_dl_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="degree_dl_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="start_dl_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fruit_dl_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="science_dl_3_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="desire_dl_3_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="last_dl_3_nl0_ae10" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="found_dl_3_nl0_ae11" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="found_adl_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="sleep_adl_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="flower_adl_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_adl_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mention_adl_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pencil_adl_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grip_adl_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_adl_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="claim_adl_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="state_adl_3_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="egg_adl_3_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="agency_cp_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="complete_cp_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="count_cp_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="amount_cp_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="death_cp_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shake_cp_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_cp_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_cp_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="leather_cp_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="distribution_cp_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="gold_ad_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="pain_ad_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="make_ad_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prevent_ad_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="probable_ad_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="low_ad_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bath_ad_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="butter_ad_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="copy_dl_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="thick_dl_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stiff_dl_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="feeling_dl_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="connect_dl_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="disease_dl_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="attraction_dl_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sad_dl_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="root_dl_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pain_dl_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="straight_dl_4_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_dl_4_nl0_ae10" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="question_dl_4_nl0_ae11" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="walk_adl_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="count_adl_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="explain_adl_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="theory_adl_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="settle_adl_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="record_adl_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="probable_adl_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="poor_adl_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="goat_adl_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pick_adl_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="head_adl_4_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="judge_cp_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="impulse_cp_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prose_cp_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agencies_cp_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="flat_cp_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_cp_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="boot_cp_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="dependent_cp_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sea_cp_5_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="delicate_cp_5_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sleep_ad_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="bath_ad_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="road_ad_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rhythm_ad_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stomach_ad_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="speak_ad_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_ad_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="return_ad_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="match_dl_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="debts_dl_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gain_dl_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_dl_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="give_dl_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="selection_dl_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="window_dl_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="belong_dl_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="increase_dl_5_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="female_dl_5_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="animal_dl_5_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hate_dl_5_nl0_ae10" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ready_dl_5_nl0_ae11" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="round_adl_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="win_adl_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="turn_adl_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chin_adl_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="salt_adl_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="argue_adl_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="late_adl_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="summer_adl_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="will_adl_5_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shut_adl_5_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="buy_adl_5_nl0_ae9" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
<xs:key name="nut_cp_1_nl0_ce0art_cp_1_nl0_ae0ke0"><xs:selector xpath="./nut_cp_1_nl0_ce0"/><xs:field xpath="art_cp_1_nl0_ae0ke0"/></xs:key>
<xs:key name="great_ad_1_nl0_ce0board_ad_1_nl0_ae0ke0"><xs:selector xpath="./great_ad_1_nl0_ce0"/><xs:field xpath="board_ad_1_nl0_ae0ke0"/></xs:key>
<xs:key name="past_dl_1_nl0_ce0wheel_dl_1_nl0_ae0ke0"><xs:selector xpath="./past_dl_1_nl0_ce0"/><xs:field xpath="wheel_dl_1_nl0_ae0ke0"/></xs:key>
<xs:key name="narrow_adl_1_nl0_ce0rest_adl_1_nl0_ae0ke0"><xs:selector xpath="./narrow_adl_1_nl0_ce0"/><xs:field xpath="rest_adl_1_nl0_ae0ke0"/></xs:key>
<xs:key name="chin_cp_2_nl0_ce0mixed_cp_2_nl0_ae0ke0"><xs:selector xpath="./chin_cp_2_nl0_ce0"/><xs:field xpath="mixed_cp_2_nl0_ae0ke0"/></xs:key>
<xs:key name="division_ad_2_nl0_ce0ready_ad_2_nl0_ae0ke0"><xs:selector xpath="./division_ad_2_nl0_ce0"/><xs:field xpath="ready_ad_2_nl0_ae0ke0"/></xs:key>
<xs:key name="use_dl_2_nl0_ce0paint_dl_2_nl0_ae0ke0"><xs:selector xpath="./use_dl_2_nl0_ce0"/><xs:field xpath="paint_dl_2_nl0_ae0ke0"/></xs:key>
<xs:key name="brown_adl_2_nl0_ce0hit_adl_2_nl0_ae0ke0"><xs:selector xpath="./brown_adl_2_nl0_ce0"/><xs:field xpath="hit_adl_2_nl0_ae0ke0"/></xs:key>
<xs:key name="kind_cp_3_nl0_ce0prove_cp_3_nl0_ae0ke0"><xs:selector xpath="./kind_cp_3_nl0_ce0"/><xs:field xpath="prove_cp_3_nl0_ae0ke0"/></xs:key>
<xs:key name="charge_ad_3_nl0_ce0certain_ad_3_nl0_ae0ke0"><xs:selector xpath="./charge_ad_3_nl0_ce0"/><xs:field xpath="certain_ad_3_nl0_ae0ke0"/></xs:key>
<xs:key name="treat_dl_3_nl0_ce0farm_dl_3_nl0_ae0ke0"><xs:selector xpath="./treat_dl_3_nl0_ce0"/><xs:field xpath="farm_dl_3_nl0_ae0ke0"/></xs:key>
<xs:key name="found_adl_3_nl0_ce0sleep_adl_3_nl0_ae0ke0"><xs:selector xpath="./found_adl_3_nl0_ce0"/><xs:field xpath="sleep_adl_3_nl0_ae0ke0"/></xs:key>
<xs:key name="agency_cp_4_nl0_ce0complete_cp_4_nl0_ae0ke0"><xs:selector xpath="./agency_cp_4_nl0_ce0"/><xs:field xpath="complete_cp_4_nl0_ae0ke0"/></xs:key>
<xs:key name="gold_ad_4_nl0_ce0pain_ad_4_nl0_ae0ke0"><xs:selector xpath="./gold_ad_4_nl0_ce0"/><xs:field xpath="pain_ad_4_nl0_ae0ke0"/></xs:key>
<xs:key name="copy_dl_4_nl0_ce0thick_dl_4_nl0_ae0ke0"><xs:selector xpath="./copy_dl_4_nl0_ce0"/><xs:field xpath="thick_dl_4_nl0_ae0ke0"/></xs:key>
<xs:key name="walk_adl_4_nl0_ce0count_adl_4_nl0_ae0ke0"><xs:selector xpath="./walk_adl_4_nl0_ce0"/><xs:field xpath="count_adl_4_nl0_ae0ke0"/></xs:key>
<xs:key name="judge_cp_5_nl0_ce0impulse_cp_5_nl0_ae0ke0"><xs:selector xpath="./judge_cp_5_nl0_ce0"/><xs:field xpath="impulse_cp_5_nl0_ae0ke0"/></xs:key>
<xs:key name="sleep_ad_5_nl0_ce0bath_ad_5_nl0_ae0ke0"><xs:selector xpath="./sleep_ad_5_nl0_ce0"/><xs:field xpath="bath_ad_5_nl0_ae0ke0"/></xs:key>
<xs:key name="match_dl_5_nl0_ce0debts_dl_5_nl0_ae0ke0"><xs:selector xpath="./match_dl_5_nl0_ce0"/><xs:field xpath="debts_dl_5_nl0_ae0ke0"/></xs:key>
<xs:key name="round_adl_5_nl0_ce0win_adl_5_nl0_ae0ke0"><xs:selector xpath="./round_adl_5_nl0_ce0"/><xs:field xpath="win_adl_5_nl0_ae0ke0"/></xs:key>
</xs:element>
</xs:schema>
